<a href="https://colab.research.google.com/github/tuleminh1407/Covid19-Insights/blob/main/Module%201/Session%203/m1s3nb2_troubleshooting_pandas_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Troubleshooting pandas dataframes for the exams

In [1]:
!wget https://raw.githubusercontent.com/gt-cse-6040/bootcamp/main/Module%201/Session%203/who3.csv
!wget https://raw.githubusercontent.com/gt-cse-6040/bootcamp/main/Module%201/Session%203/who3_soln.csv

--2025-02-25 04:08:21--  https://raw.githubusercontent.com/gt-cse-6040/bootcamp/main/Module%201/Session%203/who3.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2676500 (2.6M) [text/plain]
Saving to: ‘who3.csv’

who3.csv            100%[===================>]   2.55M  --.-KB/s    in 0.05s

2025-02-25 04:08:21 (50.5 MB/s) - ‘who3.csv’ saved [2676500/2676500]

--2025-02-25 04:08:22--  https://raw.githubusercontent.com/gt-cse-6040/bootcamp/main/Module%201/Session%203/who3_soln.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2600453 (2.5M) [text/plain]
Saving to: ‘who3_soln.csv’

who3_soln.csv       100%[===================>]   2.48M  --.-KB/s    in 0.05s

2025-02-25 04:08:22 (45.2 MB/s) - ‘who3_soln.csv’ saved [2600453/2600453]

In [2]:
import pandas as pd

In [21]:
# bring in the two dataframes to work with
_input = pd.read_csv('who3.csv')
original_input = pd.read_csv('who3_soln.csv')
returned_output = pd.read_csv('who3.csv')
true_output = pd.read_csv('who3_soln.csv')

In [22]:
# put the dataframes into the test case variables
input_vars = dict()
input_vars['output_0'] = _input
original_input_vars = dict()
original_input_vars['output_0'] = original_input
# not populating this one yet
returned_output_vars = dict()
# going to be making changes, so this one will be the starting point
returned_output_vars_original = dict()
returned_output_vars_original['output_0'] = returned_output  #going to be making changes, so this one will be the starting point
true_output_vars = dict()
true_output_vars['output_0'] = true_output

## What we want to do is show some techniques for troubleshooting when our dataframe does not match the solution dataframe, when your function returns a pandas dataframe.

## Why are we doing this?

### Because many students troubleshoot by simply doing a print() output of their output against the solution/true output, with a visual inspection for differences.

### This method does not allow students to "see" all of the ways that their solution is tested, and is therefor unreliable and incomplete.

### See the screen shots below, from a Piazza post about an exam during the Fall 2023 semester. The first screen shot is the student question, and the second is the TA response.

![P1.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%201/Session%203/Piazza_screen_shot_1.png?raw=1)

![P2.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%201/Session%203/Piazza_screen_shot_2.png?raw=1)

## The exam test cells use the pandas function, `assert_frame_equal()` to test for correctness.

### This notebook with introduce the function, how it operates, and its usage on the exams.

### Then we will look at some troubleshooting techniques that students can use, for both the homework notebooks and the exams.

### Steps for today:

1. We have the who3 and who3_soln dataframes, from Notebook 7.

2. We have put the dataframes into the test case variables, in the manner that they are on the exams.

3. Manipulate the `input_vars` and `returned_output_vars` test case variable to show various errors.

4. How to troubleshoot and solve for the various errors, when the exercise output requires a pandas dataframe.

### Let's look (again) at the test case variables.

The below text is what is on `EVERY EXERCISE` of `EVERY EXAM`.

<!-- Test Cell Boilerplate -->
The cell below will test your solution for Exercise 1. The testing variables will be available for debugging under the following names in a dictionary format.
- `input_vars` - Input variables for your solution.
- `original_input_vars` - Copy of input variables from prior to running your solution. These _should_ be the same as `input_vars` - otherwise the inputs were modified by your solution.
- `returned_output_vars` - Outputs returned by your solution.
- `true_output_vars` - The expected output. This _should_ "match" `returned_output_vars` based on the question requirements - otherwise, your solution is not returning the correct output.

### So what do the actually look like?

### Each test case variable is a dictionary, in the following structure:

#### Key: `'output_0'`. The key of the dictionary is always this.

#### Value: The value of this key is the actual output from your function.

In [25]:
display(true_output_vars) # Expected Output

{'output_0':        count                             country  year age_group  gender type
 0          7                             Albania  2006      0-14  female   ep
 1          1                             Albania  2007      0-14  female   ep
 2          3                             Albania  2008      0-14  female   ep
 3          2                             Albania  2009      0-14  female   ep
 4          2                             Albania  2010      0-14  female   ep
 ...      ...                                 ...   ...       ...     ...  ...
 76041    523  Venezuela (Bolivarian Republic of)  2013       65+    male  rel
 76042   5834                            Viet Nam  2013       65+    male  rel
 76043    446                               Yemen  2013       65+    male  rel
 76044   1112                              Zambia  2013       65+    male  rel
 76045   1208                            Zimbabwe  2013       65+    male  rel

 [76046 rows x 6 columns]}

## How does the exam testing operate?

Let's look at an example of how this works.

See the example function definition below.

In [24]:
def sample_function(_input):

    return my_returned_output

#### What does the testing cell do for the input vars?

1. Inserts the value of `_input` into the `original_input_vars` dictionary, for the key `'ouput_0'`.

2. Runs your function.

3. Inserts the value of `_input` into the `input_vars` dictionary, for the key `'ouput_0'`. Note that this is **after your function has run**, so if you have changed the input parameters in any way, the changed value will show up here.

4. Compares the values of the `'output_0'` key, to see if they are the same.

5. If the output variable is a pandas dataframe, the testing cell uses the function `assert_frame_equal()` to make the testing comparison.

6. Returns a `pass/fail` message. If the test failed, then the returned message is the one that `assert_frame_equal()` provides.

#### What does the testing cell do for the output vars?

1. Runs your function.

2. Inserts the value of `my_returned_output` into the `returned_output_vars` dictionary, for the key `'ouput_0'`.

3. Compares the values of the `'output_0'` key of the `true_output_vars` and `returned_output_vars` dictionaries, to see if they are the same.

4. If the output variable is a pandas dataframe, the testing cell uses the function `assert_frame_equal()` to make the testing comparison.

5. Returns a `pass/fail` message. If the test failed, then the returned message is the one that `assert_frame_equal()` provides.

### Let's look at the input variables first.

#### If the test on your function returns an error on the input variables check, you most likely have made one of the following errors:

1. Worked directly on the input variable, instead of making a copy.

2. Made a copy of the variable, when you needed to make a deep copy, because the variable contains nested data.

3. Added or removed elements from the input variable in your code, as you are executing the function requirements.

#### Documentation for copy and deep copy:  https://docs.python.org/3/library/copy.html

In [26]:
#deep copy versus copy syntax
from copy import copy
from copy import deepcopy

input_vars_copy = copy(input_vars)

input_vars_deepcopy = deepcopy(input_vars)

display(input_vars_copy)
display(input_vars_deepcopy)

{'output_0':        count                             country  year age_group  gender type
 0          7                             Albania  2006      0-14  female   ep
 1          1                             Albania  2007      0-14  female   ep
 2          3                             Albania  2008      0-14  female   ep
 3          2                             Albania  2009      0-14  female   ep
 4          2                             Albania  2010      0-14  female   ep
 ...      ...                                 ...   ...       ...     ...  ...
 76041    523  Venezuela (Bolivarian Republic of)  2013       65+    male  rel
 76042   5834                            Viet Nam  2013       65+    male  rel
 76043    446                               Yemen  2013       65+    male  rel
 76044   1112                              Zambia  2013       65+    male  rel
 76045   1208                            Zimbabwe  2013       65+    male  rel

 [76046 rows x 6 columns]}

{'output_0':        count                             country  year age_group  gender type
 0          7                             Albania  2006      0-14  female   ep
 1          1                             Albania  2007      0-14  female   ep
 2          3                             Albania  2008      0-14  female   ep
 3          2                             Albania  2009      0-14  female   ep
 4          2                             Albania  2010      0-14  female   ep
 ...      ...                                 ...   ...       ...     ...  ...
 76041    523  Venezuela (Bolivarian Republic of)  2013       65+    male  rel
 76042   5834                            Viet Nam  2013       65+    male  rel
 76043    446                               Yemen  2013       65+    male  rel
 76044   1112                              Zambia  2013       65+    male  rel
 76045   1208                            Zimbabwe  2013       65+    male  rel

 [76046 rows x 6 columns]}

***

#### While we are not going to go into detail here, if your data is nested in any way, only `deepcopy` will make a full copy of the data.

### Bottom line, you will never be wrong if you use `deepcopy()` whenever you need to make a copy of your input data.

### And finally, this is personal preference, but you can never go wrong by making a copy (copies) of the input variables as the first few lines in your function, and doing all of your work with those copies.

***

### The second test checks the output of your function (a pandas dataframe in this case) against the pandas dataframe that is the solution.

### The test uses the assert_frame_equal() function to do this, after some dataframe manipulation.

#### Here is the function documentation:  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.testing.assert_frame_equal.html

#### Let's take a look at the function, in the documentation.

### What are the checks that assert_frame_equal() does?

1. Checks for data types in the two dfs.
2. Checks the number of rows and columns in the two dfs.
3. Checks the column names in the two dfs.
4. Finally, compares the actual data in the two dfs. This check includes both the data and indexes.  `No direct parameter for this.`

#### Let's look at each one individually, and how to troubleshoot.

## You can use this Pandas function to do your testing and troubleshooting.

## To run your tests, all you need to do is import the function and then call it, passing in the returned_output_variables and true_output variables.

### We will now set up 4 dataframe examples, that exercise the 4 types of tests that assert_frame_equal() does. The changed dataframes will all be named for the type of change/test we are exercising.

#### What we will do is change each df and run some code that shows you how to do individual checks for this test.

#### Then we will show how you can do this using the assert_all_equal() function, and let it tell you what has failed.

In [30]:
# import the function, students will need to do this on the exams
from pandas.testing import assert_frame_equal

### For our first example, we will change a datatype.

https://www.geeksforgeeks.org/get-the-datatypes-of-columns-of-a-pandas-dataframe/

In [31]:
# set up the test by changing the datatype
returned_output_vars = deepcopy(returned_output_vars_original)
returned_output_vars['output_0']["count"] = returned_output_vars['output_0']["count"].astype(float)

In [29]:
# uncomment to run the test and return the error
# a,b = true_output_vars['output_0'], returned_output_vars['output_0']   # data type differences of columns
# result = assert_frame_equal(a,b)
# result

### So we have failed the exercise, and we can see from the AssertionError that our returned output does not match the expected (solution) output.

### What do we do now?

The **AssertionError** message from the function is very good, and we can see that the datatypes for the column "count" are different, and what they are.

Note that the "left" dataframe is always the first one that you passed in as a parameter, and the "right" dataframe is the second parameter.

### So we would go back to our code, find the line(s) in which we are assigning the incorrect data type, and change them.

In [11]:
# display the column data types
display(true_output_vars['output_0'].dtypes)
display(returned_output_vars['output_0'].dtypes)

count         int64
country      object
year          int64
age_group    object
gender       object
type         object
dtype: object

count        float64
country       object
year           int64
age_group     object
gender        object
type          object
dtype: object

### For our second example, we change the number of rows in the dataframe.
https://www.geeksforgeeks.org/count-the-number-of-rows-and-columns-of-pandas-dataframe/

In [12]:
# make the copy again, to reset to original
returned_output_vars = deepcopy(returned_output_vars_original) # returned_output_vars - Outputs returned by your solution.
# Dropping last 10 rows using drop
returned_output_vars['output_0'].drop(returned_output_vars['output_0'].tail(10).index,inplace = True)

In [13]:
# uncomment to run the test and return the error
# # differences in the number of rows of data
# a,b = true_output_vars['output_0'], returned_output_vars['output_0']
# result = assert_frame_equal(a,b)
# result

### So we have failed the exercise, and we can see from the AssertionError that our returned output does not match the expected (solution) output.

### What do we do now?

Again, the **AssertionError** message from the function is very good, and we can see that the dataframes have different shapes, in their number of rows and columns.

### When there is length difference your output variables, the most likely reason is that you failed to correctly deal with one of the exercise requirements. You have done one of the following:

   **If the number of rows is different:**

    1. Included a value that should have been excluded (your output is longer than what it should be).

    2. Excluded a value that should have been included (your output is shorter than what it should be).
    
   **If the number of columns is different:**
    
    1. Included a column that should have been excluded (your output is wider than what it should be).

    2. Excluded a column that should have been included (your output is narrower than what it should be).

### At this point, we could output/display the two variables and visually compare them, to see if we can find the missing/extra value.

### But the `better method` is to go back to the requirements, your strategy, and your code implementing the strategy, to see if you are handling the edge cases correctly.

   **For rows:**

    1. If you are using `nlargest()` or `nsmallest()`, are you accounting for the ties correctly?
    
    2. If you are doing string manipulation, are you accounting for all of the inclusive/exclusive requirements for elements with the string values that you are comparing for?
    
    3. If you are doing summarizations, have you included all of the required ones (min/max/mean/median), or for time series data, do you have the correct number of periods?
    
   **For columns:**
    
    1. Compare the required columns to your columns and add/remove as necessary.

### Once we know what the extra/missing value/column is, we must go back to our code and compare it with each of the include/exclude requirements, to see which requirement we did not do correctly.

In [14]:
# # # fetching the number of rows and columns
rows_returned = returned_output_vars['output_0'].shape[0]
cols_returned = returned_output_vars['output_0'].shape[1]

rows_true = true_output_vars['output_0'].shape[0]
cols_true = true_output_vars['output_0'].shape[1]

# displaying the number of rows and columns
print("Rows returned: " + str(rows_returned))
print("Columns returned: " + str(cols_returned))
print("Rows true: " + str(rows_true))
print("Columns true: " + str(cols_true))

Rows returned: 76036
Columns returned: 6
Rows true: 76046
Columns true: 6

### For our third example, we will change a couple of column names.

In [15]:
# make the copy again, to reset to original
returned_output_vars = deepcopy(returned_output_vars_original)

# # Change a couple of the column names in the new df, just to generate the error.
returned_output_vars['output_0'].rename(columns = {'country':'Country'}, inplace = True)
returned_output_vars['output_0'].rename(columns = {'age_group':'age-group'}, inplace = True)

In [16]:
# # uncomment to run the test and return the error
# # column names different
# a,b = true_output_vars['output_0'], returned_output_vars['output_0']
# result = assert_frame_equal(a,b)
# result

### So we have failed the exercise, and we can see from the AssertionError that our returned output does not match the expected (solution) output.

### What do we do now?

Again, the **AssertionError** message from the function is very good, and we can see that the column names do not match.

#### The error message output is very good, in that it lists the column names, one above the other, for a direct visual comparison. Find the difference visually and then go back to the code and change it appropriately.

#### However, if we have a very wide data frame, with many columns, the displayed output will not directly line up, so we provide the code below to loop over the column names and direclyt output the differences.

#### Here is some template code to check the column names directly, you can use it if you would like.

In [17]:
# check column names directly
returned_list = returned_output_vars['output_0'].columns.values.tolist() #change to the true output variables name
true_list = true_output_vars['output_0'].columns.values.tolist()    #change to the returned output variables name

for i,col_name in enumerate(returned_list):
    if col_name != true_list[i]:
        print('\nColumn names do not match')
        print('Returned column name: ', col_name)
        print('True column name: ', true_list[i])

Column names do not match
Returned column name:  Country
True column name:  country

Column names do not match
Returned column name:  age-group
True column name:  age_group

#### Finally, let's change some values in the df.

In [18]:
# # let's change a few values in our bootcamp dataframe
# make the copy again, to reset to original
returned_output_vars = deepcopy(returned_output_vars_original)

# # make some data changes
returned_output_vars['output_0'].at[0, 'count'] = 6
returned_output_vars['output_0'].at[1, 'count'] = 2
returned_output_vars['output_0'].at[2, 'year'] = 2011
returned_output_vars['output_0'].at[3, 'year'] = 2012

In [19]:
# uncomment to run the test and return the error
# data differences
# a,b = true_output_vars['output_0'], returned_output_vars['output_0']
# result = assert_frame_equal(a,b)
# result

# Notice that we changed "count" and "year" above, but the error only returns for "count".
# The function returns the first column with errors, and you may need to run this multiple
# times, if you have multiple columns with data errors.

### So we have failed the exercise, and we can see from the AssertionError that our returned output does not match the expected (solution) output.

### What do we do now?

Again, the **AssertionError** message from the function is not quite as direct as before, but we can see that some values in the column `count` are different.

### But wait, we changed the values in two of the columns, and the error message is only giving one column as having incorrect values? Is the test wrong?

#### No, the test is functioning correctly. The `assert_frame_equal()` function will return the first column that has a difference in values, with the error on that column. If this is the error, you may end up fixing the error in the first column and then finding out that an additional column(s) may also be incorrect.

### What we recommend is running the pandas  function `compare()`, to give all of the rows with different values. This is a very good function.

Let's look at the documentation:  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.compare.html

In [20]:
# # note that the "self" df is the df that we are running compare on
# # and the "other" df is the one in the parenthesis (we are comparing to)
display(true_output_vars['output_0'].compare(returned_output_vars['output_0']))

# # align the differences on rows, just a different way of looking at the comparison
display(true_output_vars['output_0'].compare(returned_output_vars['output_0'],align_axis=0))

  count          year
   self other    self   other
0   7.0   6.0     NaN     NaN
1   1.0   2.0     NaN     NaN
2   NaN   NaN  2008.0  2011.0
3   NaN   NaN  2009.0  2012.0

         count    year
0 self     7.0     NaN
  other    6.0     NaN
1 self     1.0     NaN
  other    2.0     NaN
2 self     NaN  2008.0
  other    NaN  2011.0
3 self     NaN  2009.0
  other    NaN  2012.0

### Now that you know the differences, you are going to have to go back to your code and find/correct what you have written wrong.

1. Go back to the line(s) of code that produced the difference(s).

2. Go back into your code directly and walk through each step, comparing it the requirement/step that it executes, to see if you can find the error.

    ***Some examples include:***


    1. You have written a math code equation wrong.

    2. You are incorrectly assigning a value.

    3. You have some string manipulation wrong.

    4. You have a logic error.

    5. You have sorted incorrectly (or failed to sort when you should have).

    6. You have incorrectly rounded numeric data (or failed to round when you should have)

## One final note, concerning the demo cells.

### The demo cells are designed to give you some sample data, to help you to get your code up and running. You will see these for every exercise on all of the exams.

## Note that I can pass the demo cell and still fail the test cell!!!

This will be ***ONE OF THE BIGGEST PROBLEMS*** for students on the exams.

Students think that, because they passed the DEMO CELL, it means that they WILL ALSO pass the TEST CELL.

This IS NOT the case, as the DEMO CELL is designed to give you some SAMPLE DATA, to help you get your code up and running.

## The DEMO CELL IS NOT a full test of your code, and you can easily pass the DEMO CELL and FAIL the TEST CELL!!!

## The TEST CELL is a FULL TEST of your code, and it is much more extensive than the DEMO CELL.

## So be aware that you can pass the DEMO CELL and still fail the TEST CELL.

***
***ON EVERY EXAM***, there will be ***AT LEAST 20 Piazza posts*** from students whose code passes the demo cell and fails the test cell. They will post that there is a BUG in the exam because of this, when in fact, their code is incorrect.

Please be aware of this difference between the demo and test cells.
***

## What are your questions concerning data troubleshooting of pandas dataframes?